<a href="https://colab.research.google.com/github/iasminqmoura/ia_2023/blob/main/Lista_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

In [9]:
# Declare uma variável chamada idade e atribua a ela um valor inteiro
idade = 25

In [10]:
# Crie uma variável nome e atribua a ela uma string com o seu nome
nome = "Iasmin"

In [11]:
# Calcule o dobro da idade
dobro_idade = idade * 2

In [12]:
# Crie um DataFrame com as informações
dados = pd.DataFrame({'Nome': [nome], 'Idade': [idade]})

In [13]:
# Exiba na tela o DataFrame com o nome e o dobro da idade
print(dados)

     Nome  Idade
0  Iasmin     25