<a href="https://colab.research.google.com/github/iasminqmoura/ia_2023/blob/main/Trabalho_04_wifi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

dados_wifi = pd.read_csv('wifi.csv', header=None, delimiter='\t')

X_wifi = dados_wifi.iloc[:, :-1]
y_wifi = dados_wifi.iloc[:, -1]

if X_wifi.shape[0] > 0:
    X_treino, X_teste, y_treino, y_teste = train_test_split(X_wifi, y_wifi, test_size=0.2, random_state=42)

    normalizador = StandardScaler()
    X_treino_normalizado = normalizador.fit_transform(X_treino)
    X_teste_normalizado = normalizador.transform(X_teste)

    encoder = LabelEncoder()
    y_treino_codificado = encoder.fit_transform(y_treino)
    y_teste_codificado = encoder.transform(y_teste)

    n_classes = len(encoder.classes_)
    y_treino_encoded = to_categorical(y_treino_codificado, num_classes=n_classes)
    y_teste_encoded = to_categorical(y_teste_codificado, num_classes=n_classes)

    modelo = Sequential([
        Dense(64, activation='relu', input_shape=(X_treino_normalizado.shape[1],)),
        Dense(32, activation='relu'),
        Dense(n_classes, activation='softmax')
    ])

    modelo.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

    historico = modelo.fit(X_treino_normalizado, y_treino_encoded, epochs=50, batch_size=32, validation_split=0.1, verbose=0)

    perda, precisao = modelo.evaluate(X_teste_normalizado, y_teste_encoded, verbose=0)

    print("Exemplo Dataset:")
    display(X_wifi.head().style.set_properties(**{'text-align': 'left'}).set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}]))

    resultados = pd.DataFrame({
        'Conjunto': ['Treino', 'Teste'],
        'Perda': [historico.history['loss'][-1], perda],
        'Precisao (%)': [historico.history['accuracy'][-1] * 100, precisao * 100]
    })
    print("Treinamento:")
    display(resultados.style.set_properties(**{'text-align': 'left'}).set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}]))
else:
    print("O conjunto de treinamento est√° vazio.")

Exemplo Dataset:

Treinamento: