<a href="https://colab.research.google.com/github/iasminqmoura/ia_2023/blob/main/Trabalho_03_preco_casa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Carrega o conjunto de dados
dados = pd.read_excel('casa_data.xls')

# Examine as primeiras linhas e as colunas disponíveis
print("Exemplo do Dataset:")
display(dados.head().style.set_properties(**{'text-align': 'left'}).set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}]))

# Divide os dados em características (X) e rótulo (y)
X = dados.drop('Y house price of unit area', axis=1)  # Coluna alvo 'Y house price of unit area' como rótulo
y = dados['Y house price of unit area']

# Normaliza as características numéricas (exemplo usando StandardScaler)
normalizador = StandardScaler()
X_normalizado = normalizador.fit_transform(X)

# Divide os dados em conjuntos de treino e teste
X_treino, X_teste, y_treino, y_teste = train_test_split(X_normalizado, y, test_size=0.2, random_state=42)

# Define a arquitetura da rede neural
modelo = Sequential([
    Dense(64, activation='relu', input_shape=(X_treino.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # A camada de saída não precisa de uma função de ativação para regressão
])

# Compila o modelo
modelo.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])

# Treina o modelo e armazena o histórico de treinamento
historico = modelo.fit(X_treino, y_treino, epochs=50, batch_size=32, validation_split=0.1, verbose=0)

# Avalia o modelo no conjunto de teste e exibe os resultados
perda, mae = modelo.evaluate(X_teste, y_teste, verbose=0)

# Apresentação da tabela de resultados
print("Resultados do Treinamento:")
print("Perda (MSE) - Conjunto de Treinamento:", historico.history['loss'][-1])
print("Erro Absoluto Médio (MAE) - Conjunto de Treinamento:", historico.history['mean_absolute_error'][-1])
print("Perda (MSE) - Conjunto de Teste:", perda)
print("Erro Absoluto Médio (MAE) - Conjunto de Teste:", mae)

Exemplo do Dataset:

Resultados do Treinamento:
Perda (MSE) - Conjunto de Treinamento: 51.902713775634766
Erro Absoluto Médio (MAE) - Conjunto de Treinamento: 5.508728981018066
Perda (MSE) - Conjunto de Teste: 52.32727813720703
Erro Absoluto Médio (MAE) - Conjunto de Teste: 5.510530948638916