<a href="https://colab.research.google.com/github/iasminqmoura/ia_2023/blob/main/Trabalho_03_preco_casa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

dados = pd.read_excel('casa_data.xls')

print("Exemplo do Dataset:")
display(dados.head().style.set_properties(**{'text-align': 'left'}).set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}]))

X = dados.drop('Y house price of unit area', axis=1)
y = dados['Y house price of unit area']

normalizador = StandardScaler()
X_normalizado = normalizador.fit_transform(X)

X_treino, X_teste, y_treino, y_teste = train_test_split(X_normalizado, y, test_size=0.2, random_state=42)

modelo = Sequential([
    Dense(64, activation='relu', input_shape=(X_treino.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

modelo.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])

historico = modelo.fit(X_treino, y_treino, epochs=50, batch_size=32, validation_split=0.1, verbose=0)

perda, mae = modelo.evaluate(X_teste, y_teste, verbose=0)

print("Resultados do Treinamento:")
print("Perda (MSE) - Conjunto de Treinamento:", historico.history['loss'][-1])
print("Erro Absoluto Médio (MAE) - Conjunto de Treinamento:", historico.history['mean_absolute_error'][-1])
print("Perda (MSE) - Conjunto de Teste:", perda)
print("Erro Absoluto Médio (MAE) - Conjunto de Teste:", mae)

Exemplo do Dataset:

Resultados do Treinamento:
Perda (MSE) - Conjunto de Treinamento: 51.302734375
Erro Absoluto Médio (MAE) - Conjunto de Treinamento: 5.527039051055908
Perda (MSE) - Conjunto de Teste: 51.2835693359375
Erro Absoluto Médio (MAE) - Conjunto de Teste: 5.475877285003662